<div class="row">
  <div class="col header text-center">
    <h1 class="display-1">
      <a class="nav-link" href="/index.html">Shae & Connor</a>
    </h1>
    <h3>Saturday, February 15th, 2025 • Estes Park, Colorado</h3>
  </div>
</div>
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="offcanvas"
      data-bs-target="#offcanvasNavbar"
      aria-controls="offcanvasNavbar"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="offcanvas offcanvas-start"
      data-bs-backdrop="static"
      data-bs-keyboard="true"
      tabindex="-1"
      id="offcanvasNavbar"
      aria-labelledby="offcanvasNavbarLabel"
    >
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">
          Shae & Connor's Wedding
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="offcanvas"
          aria-label="Close"
        ></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-center flex-grow-1 pe-3">
          <li class="nav-item">
            <a class="nav-link" href="/our-story.html">Our Story</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/wedding-party.html">Wedding Party</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/registry.html">Registery</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/travel.html">Travel</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/faqs.html">FAQs</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/rsvp.html">RSVP</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
