// Include any default variable overrides here (though functions won't be available)

@import "../../node_modules/bootstrap/scss/bootstrap";

// Then add additional custom code here
.offcanvas-backdrop.show {
  opacity: 1;
  background-color: rgba(15, 23, 42, 0.5);
  backdrop-filter: blur(8px);
}

body {
  -webkit-animation: fadein 0.75s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 0.75s; /* Firefox < 16 */
  -ms-animation: fadein 0.75s; /* Internet Explorer */
  -o-animation: fadein 0.75s; /* Opera < 12.1 */
  animation: fadein 0.75s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
